@font-face {
    font-family: 'Publico Text Roman';
    src: url('./fonts/PublicoText-Roman.eot');
    src: url('./fonts/PublicoText-Roman.eot?#iefix') format('embedded-opentype'),
        url('./fonts/PublicoText-Roman.woff2') format('woff2'),
        url('./fonts/PublicoText-Roman.woff') format('woff'),
        url('./fonts/PublicoText-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Bold';
    src: url('./fonts/Publico-Bold.eot');
    src: url('./fonts/Publico-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Publico-Bold.woff2') format('woff2'),
        url('./fonts/Publico-Bold.woff') format('woff'),
        url('./fonts/Publico-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.eot');
    src: url('./fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Lato-Regular.woff2') format('woff2'),
        url('./fonts/Lato-Regular.woff') format('woff'),
        url('./fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F4F4F4;
	color: #383838;
	overflow-y: scroll;
	font-family: "Publico Text Roman";
}


.warning {
	width: 5em;
	max-width: 8vh;
	height: 5em;
	max-height: 8vh;
	transform: translate(-50%, -50%);
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTIsMkwxLDIyaDIyTDEyLDJ6Ii8+PHBhdGggZmlsbD0iI0ZGMDAwMCIgZD0iTTEyIDFsLTEyIDIyaDI0bC0xMi0yMnptLTEgOGgydjdoLTJ2LTd6bTEgMTEuMjVjLS42OSAwLTEuMjUtLjU2LTEuMjUtMS4yNXMuNTYtMS4yNSAxLjI1LTEuMjUgMS4yNS41NiAxLjI1IDEuMjUtLjU2IDEuMjUtMS4yNSAxLjI1eiIvPjwvc3ZnPg==);
	background-size: 80%;
	cursor: pointer;
	pointer-events: all;
}
.earth-occluded .warning {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGw9IiNGRjAwMDAiIGQ9Ik0yNCAyM2gtMjRsMTItMjIgMTIgMjJ6bS0yMi4zMTUtMWgyMC42M2wtMTAuMzE1LTE4LjkxMi0xMC4zMTUgMTguOTEyem0xMC4zMTUtMmMuNDY2IDAgLjg0NS0uMzc4Ljg0NS0uODQ1IDAtLjQ2Ni0uMzc5LS44NDQtLjg0NS0uODQ0LS40NjYgMC0uODQ1LjM3OC0uODQ1Ljg0NCAwIC40NjcuMzc5Ljg0NS44NDUuODQ1em0uNS0xMXY4aC0xdi04aDF6Ii8+PC9zdmc+);
	opacity: 0.7;
}

#element::after {
	content: "";
	position: absolute;
	top: 9.85%;
	left: 9.85%;
	bottom: 9.85%;
	right: 9.85%;
	box-sizing: border-box;
	border: 1px #D0D0D0 solid;
	border-radius: 50%;
}


#wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	
	position: relative;
	margin: 0 auto;
	width: 92%;
	max-width: 100em;
	font-family: sans-serif;
	min-height: 100vh;
}

.select-country {
	padding: 1.5rem;
	background-color: #FFFFFF;
	margin-top: 2rem;
	border-top: 4px solid #86BC25;
}


select {
	background-color: #F4F4F4;
	    width: 100%;
	font-family: "Lato";
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;       /* Remove default arrow */
   background-image: url(./images/arrow.svg);   /* Add custom arrow */
   border: none;
   border-bottom: 1px solid #333333;
   padding: 0.8rem 0.5rem;
   background-position:
    calc(100% - 15px) calc(1em + 1px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
}

#earth-col {
	flex: 0 1 50vw;
}


.colour-key {
	padding: 1.5rem;
	background-color: #FFFFFF;
	margin-top: 2rem;
	border-top: 4px solid #FFB617;
}





.colour-key .colour-key-content ul li::after{
	
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.colour-key .colour-key-content ul li:nth-child(1)::after {  
  background-color: #6E27C5;
  float: right;
}
.colour-key .colour-key-content ul li:nth-child(2)::after {  
  background-color: #24388D;
  float: right;
}
.colour-key .colour-key-content ul li:nth-child(3)::after {  
  background-color: #17B8D4;
  float: right;
}
.colour-key .colour-key-content ul li:nth-child(4)::after {  
  background-color: #86BC25;
  float: right;
}
.colour-key .colour-key-content ul li:nth-child(5)::after {  
  background-color: #FFB617;
  float: right;
}
.colour-key .colour-key-content ul li:nth-child(6)::after {  
  background-color: #FF6600;
  float: right;
}
.colour-key .colour-key-content ul li:nth-child(7)::after {  
  background-color: #F1352B;
  float: right;
}
#breaking-news {
	flex: 0 1 17vw;
}
#country-data {
	flex: 0 1 13vw;
	padding: 1.5rem;
	background-color: #FFFFFF;
	margin-top: 2rem;
	border-top: 4px solid #F1352B;
}

#country-data span {
	float: right;
	font-family: "Publico Text Roman";
}

.risk {
	border-bottom: 1px solid #333333;
	padding-bottom: 1rem;
}

.news {
	transition: color 0.2s ease;
	padding: 0.25em 0;
}
.news-highlight {
	color: red;
}

.news + .news {
	border-top: 1px #D0D0D0 solid;
}

p {
	line-height: 140%;
	font-family: "Publico Text Roman";
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Publico Text Roman";
}
h3 {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
	line-height: 140%;
	margin-top: 0;
}

h4 {
	font-size: 1rem;
	margin-bottom: 0.3rem;
}

ul {
	list-style: none;
	margin: 1rem 0 0 0;
	padding: 0;

}

li {
	padding-bottom: 0.5rem;
	font-family: "Publico Text Roman";
}


.has-news #please-click {
	display: none;
}

#country-data .news {
	display: none;
}
#country-data.has-news .news {
	display: block;
}
#country-data.toggle-news .news:last-child {
	display: none;
}


@media (max-width: 1399px) {
	#breaking-news,
	#country-data {
		font-size: 0.8rem;
	}
}

@media (max-width: 1199px) {
	#wrapper {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-items: flex-start;
		align-items: flex-start;
		width: 100%;
	}
	#earth-col {
		-webkit-order: 0;
		order: 0;
		flex: 0 1 100vw;
		max-width: 50em;
	}
	#breaking-news,
	#local-news {
		font-size: 0.9em;
		flex: 0 1 46vw;
		width: 50vw;
		box-sizing: border-box;
	}
	#breaking-news {
		-webkit-order: 1;
		order: 1;
		padding: 0 1.5em 0 0.5em;
	}
	#country-data {
		-webkit-order: 2;
		order: 2;
		/* padding: 0 0.5em 0 1.5em; */
		flex: 0 1 40vw !important;
	}
}
@media (max-width: 511px) {
	#breaking-news,
	#country-data {
		font-size: 2.75vw;
		flex: 0 1 100vw !important;
		padding: 0 1rem;
	}
	#country-data {
		margin: 2rem 1rem;
	}
}